<div>
    <h1>The coffee list</h1>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Consumptions</th>
                <th>Balance</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let junkie of junkies; let i = index;">
                <td><a [routerLink]="[i]">{{junkie.name}}</a></td>
                <td>{{junkie.consumptions}}</td>
                <td>{{junkie.balance | currency: 'eur': true}}</td>
                <td><button (click)="junkie.consume(1, 0.15)">+1</button></td>
            </tr>
        </tbody>
    </table>

    <input type="text" #newNameInput />
    <button (click)="add(newNameInput.value); newNameInput.value = ''">Add</button>
</div>